2147140_wd_cat1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Company">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Employee">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Emp-id" type="xs:unsignedByte" />
              <xs:element name="Emp-name" type="xs:string" />
              <xs:element name="Emp-age" type="xs:unsignedByte" />
              <xs:element name="Emp-salary" type="xs:unsignedInt" />
              <xs:element name="Emp-emailid" type="xs:string" />
              <xs:element name="Emp-Phonenum" type="xs:unsignedLong" />
              <xs:element name="Emp-designation" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>